apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: statusquarkusio-i2fb
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-rimo-tenant/status-quarkus-io/statusquarkusio-i2fb@sha256:6ea66516988ced412d9d06d7593231b4bd60c78c2c98e049bd420aaef2c5b187
        name: my-java-quarkus
        resources: {}
status: {}
